.formSection {
  border: 1px solid #ddd;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 760px) {
  .formSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.picture {
  max-width: 250px;
  height: auto;
  border-radius: 4px;
}
